[data-component-name="landingView"]
  color initial
  flex-direction column
  .box
    border 1px solid
  .box-header
    padding 16px
    background-color #cecece
    border-bottom 1px solid
  .box-body
    padding 16px
    background-color white
