doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='public/css/main.css')
    title probando
  body
    include partial.menu.pug
    main
      include partial.sales.pug
    include partial.footer.pug
    include scripts.pug
