article(data-component-name="landingView")
  header
    h1.a11y Landing page
  section(aria-label="Accessibility placeholder")
    .grid
      .col
        h2 Total units sales
    .grid
      .col(ng-controller="salesController")
        .box
          .box-header
            h2 Italy
            p Lorem ispsic cor amenti aloo apappa  orem ispsic cor amenti aloo apappa 
          .box-body
            figure.highcharts-figure
              div#container-unit-sales-italy asd
      .col
        .box
          .box-header
            h2 France
            p Lorem ispsic cor amenti aloo apappa  orem ispsic cor amenti aloo apappa 
          .box-body
            figure.highcharts-figure
              div#container-unit-sales-france asd
      .col
        .box
          .box-header
            h2 Germany
            p Lorem ispsic cor amenti aloo apappa  orem ispsic cor amenti aloo apappa 
          .box-body
            figure.highcharts-figure
              div#container-unit-sales-germany asd
    .grid
      .col
        .box
          .box-header
            h2 UK
            p Lorem ispsic cor amenti aloo apappa  orem ispsic cor amenti aloo apappa 
          .box-body
            figure.highcharts-figure
              div#container-unit-sales-uk asd
      .col
        .box
          .box-header
            h2 Spain
            p Lorem ispsic cor amenti aloo apappa  orem ispsic cor amenti aloo apappa 
          .box-body
            figure.highcharts-figure
              div#container-unit-sales-spain asd
      .col
        .box
          .box-header
            h2 Rest of Europe
            p Lorem ispsic cor amenti aloo apappa  orem ispsic cor amenti aloo apappa 
          .box-body
            figure.highcharts-figure
              div#container-unit-sales-other-europe asd
    .grid
      .col
        .box
          .box-header
            h2 Rest of the world
            p Lorem ispsic cor amenti aloo apappa  orem ispsic cor amenti aloo apappa 
          .box-body
            figure.highcharts-figure
              div#container-unit-sales-other-world asd
      .col
        .box
          .box-header
            h2 Worldwide
            p Lorem ispsic cor amenti aloo apappa  orem ispsic cor amenti aloo apappa 
          .box-body
            figure.highcharts-figure
              div#container-unit-sales-worldwide asd
  section(aria-label="Accessibility placeholder")
    .grid
      .col
        h2 Sales by Size
    .grid
      .col
        .box
          .box-header
            h2 Italy
            p Lorem ispsic cor amenti aloo apappa  orem ispsic cor amenti aloo apappa 
          .box-body
            figure.highcharts-figure
              div#container asd
